@page
@model Project_Razor.Pages.Products.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1 class="text-light">Detalhes do Produto</h1>

<div class="text-light">
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Descricao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Descricao)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Preco)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Preco)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Estoque)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Estoque)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-dark" asp-page="./Edit" asp-route-id="@Model.Product?.Id">Editar</a> |
    <a class="btn btn-dark" asp-page="./Index">Lista de Produtos</a>
</div>
