@page
@model Project_Razor.Pages.Products.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-light">Produtos</h1>

<p>
    <a class="btn btn-dark" asp-page="Create">Inserir Produto</a>
</p>
<table class="table text-light">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].Preco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].Estoque)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Product) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Preco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estoque)
            </td>
            <td>
                <a class="btn btn-dark" asp-page="./Edit" asp-route-id="@item.Id">Editar</a> |
                <a class="btn btn-dark" asp-page="./Details" asp-route-id="@item.Id">Detalhes</a> |
                <a class="btn btn-danger" asp-page="./Delete" asp-route-id="@item.Id">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
