@page
@model Project_Razor.Pages.Clients.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1 class="text-light">Tem certeza que deseja excluir este item?</h1>
<div>
    <h4 class="text-light">Informações do Produto</h4>
    <hr style="color: whitesmoke;" />
    <dl class="row text-light">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cliente.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente.CPF)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cliente.CPF)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cliente.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente.DataNascimento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cliente.DataNascimento)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Cliente.Id" />
        <input type="submit" value="Excluir" class="btn btn-danger" /> |
        <a class="btn btn-dark" asp-page="./Index">Lista de Produtos</a>
    </form>
</div>
